@charset "UTF-8";
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
a{
	background: #BFD7C1; /* light green */
}

body 
{
	background-image: url(pasado.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

body section
{
	margin-top: 1em;
}

header
{	
	color: #3399FF;
	background-color: rgba(218, 165, 032, 0.7);
	box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
	font-size: 1.5em;
	height: .01em;
	margin-left: 6%;
	margin-top: 5em;
	overflow: hidden;
	padding-bottom: 3em;
	padding-top: 0em;
	margin-right: 6%;
}

header h1
{
	color: black;
	text-align: center;
	margin-top: .1em;
}
body #nav
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
	z-index: 1;
	overflow: hidden;
}

body #nav > ul
{
	line-height: 0px;
	position: relative;
	display: inline-block;
	margin: 0;
	height: 21px;
	border-left: solid 1px rgba(192,192,192,0.50);
	border-right: solid 1px rgba(192,192,192,0.35);
}
		
body #nav > ul:before,
body #nav > ul:after
{
	content: '';
	display: block;
	width: 300%;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	height: 5px;
	border-top: solid 1px rgba(192,192,192,0.35);
	border-bottom: solid 1px rgba(192,192,192,0.35);
}
		
body #nav > ul:before
{
	left: 100%;
	margin-left: 1px;
}

body #nav > ul:after
{
	right: 100%;
	margin-right: 1px;
}		

body #nav > ul > li
{
	display: inline-block;
	margin: -9px 0.5em 0 0.5em;
	padding: 0.85em;
	border: solid 1px transparent;
}
			
body #nav > ul > li.active
{
	border-color: rgba(192,192,192,0.35);
}
			
body #nav > ul > li > a,
body #nav > ul > li > span
{
	display: block;
	color: white;
	text-decoration: none;
	border: 0;
	outline: 0;
}


body #nav > ul > li:hover
{
	background: #3AA6D0;
	height: 15%;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}

body #nav > ul > li a:hover
{
	color: black;
}

/*********************************************************************************/
/* Contenedor,Formmulario,Botones                                                */
/*********************************************************************************/

body #contenedor
{
	background-color: rgba(211, 211, 211,0.5);
	box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
	color: #D3D3D3;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 2em;
	margin-top: 2em;
	padding-bottom: 0em;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0.8em;
 }

body section #contenedor h2
{
	background-color: rgba(218, 165, 032, 0.7);
	color: black;
	text-align: center;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}

body section #contenedor h3
{

	color: black;
	margin-bottom: 1em;
	margin-right: 40%;
	margin-top: 2em;
	text-align: center;

}

body section #contenedor h3:hover
{
	color: blue;
	font-size: 24px;
}

input[type="radio"]
{
	display: none;
	display: inline-block;
	margin-left: 30%;
}

.p
{	
	border: none;
	background-color: #D3D3D3;
	font-size: 1.5em;
	margin-bottom: 2%;
	margin-top: 2%;
	max-width: 100%;
	min-width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.botones
{
	margin-bottom: 5%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 2%;
	padding-bottom: 1%;
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 3%;
	
}

strong 
{
	text-decoration: underline;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

footer
{
	position: relative;
	overflow: hidden;
	padding: 2em 0 0em 0;
	background: #2b252c;
	color: #fff;
}

footer .fa.circled
{
	background: #fff;
	color: #2b252c;
}

footer header
{
	text-align: center;
	cursor: default;
}

footer h2,
footer h3,
footer h4,
footer h5,
footer h6
{
	color: #fff;
}

footer .contact
{
	/* [disabled]text-align: center; */
	/* [disabled]margin-top: 0px; */
	/* [disabled]margin-right: 0px; */
	/* [disabled]margin-bottom: 0px; */
	/* [disabled]margin-left: 0px; */
	position: relative;
	/* [disabled]float: right; */
	/* [disabled]left: 30em; */
	/* [disabled]top: 30em; */
	/* [disabled]right: 30em; */
	/* [disabled]bottom: 30em; */
	/* [disabled]display: block; */
}
.contact h3
{
	text-align: center;
}

footer .copyright
{
	text-align: center;
	color: rgba(128,128,128,0.75);
	font-size: 0.8em;
	cursor: default;
}

footer .copyright a
{
	color: rgba(128,128,128,0.75);
}

footer .copyright a:hover
{
	color: rgba(212,212,212,0.85);
}

ul.style1
{
}

ul.actions
{
}

ul.divided
{
}
		
ul.divided li
{
	border-top: solid 1px rgba(128,128,128,0.2);
	padding-top: 1.5em;
	margin-top: 1.5em;
}
			
ul.divided li:first-child
{
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}

ul.menu
{
	height: 1em;
	line-height: 1em;
}
		
ul.menu li
{
	display: inline-block;
	border-left: solid 1px rgba(128,128,128,0.2);
	padding-left: 1.25em;
	margin-left: 1.25em;
}
			
ul.menu li:first-child
{
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

ul.icons
{
	position: relative;
	background: rgba(128,128,128,0.05);
	border-radius: 4em;
	display: block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
	text-align: center;
}
		
ul.icons li
{
	display: inline-block;
	text-align: center;
}

ul.icons li a
{
	display: inline-block;
	background: none;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 100%;
	border: 0;
	color: inherit;
}
				
ul.icons li a:hover
{
	color: #ef8376;
	text-align: center;
}

ol.style1
{
}

.fa
{
	text-decoration: none;
}

.fa.solo span
{
	display: none;
}
	
.fa:before
{
	font-family: FontAwesome;
	font-size: 1.25em;
}

.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
.fa-pinterest:before{content:"\f0d2"}
.fa-pinterest-square:before{content:"\f0d3"}
.fa-google-plus-square:before{content:"\f0d4"}
.fa-google-plus:before{content:"\f0d5"}